name: build and test

on:
  pull_request:
    paths:
      - '**.go'
  push:
    branches:
      - main
    tags-ignore:
      - '**'
    paths:
      - '**.go'

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@@v6

    - name: Set up Go
      uses: actions/setup-go@@v6
      with:
        go-version-file: "go.mod"
        cache-dependency-path: "go.sum"
      id: go

    - name: Get dependencies
      run: go mod download

    - name: Run tests
      env:
        GOLANG_ENV: test
      run: |
        go test -v -coverprofile=coverage.txt -covermode=atomic ./...

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        slug: vigo/git-init-githubrepo

    - name: Build app
      id: build_go_app
      run: |
        go build -v -o git-init-githubrepo ./cmd/git-init-githubrepo
        echo "exit_code=$?" >> $GITHUB_OUTPUT

    - name: Check build exit code
      run: |
        echo "Build exit code ${{ steps.build_go_app.outputs.exit_code}}"

